.about {
    padding: 7% 5% 0% 5%;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.about .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .img-container img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    max-height: 60rem;
    min-height: 40rem;
    object-fit: cover;
}

.about .row .content {
    flex: 1 1 40rem;
    text-align: left;
}

.about .row .content h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.about .row .content p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.icons-info {
    padding: 0% 25%;
}

.icons-info .icons-container {
    margin-top: 5%;
    width: 100%;
    justify-content: space-between;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 8rem;
}

.icons-info .icons-container .icons {
    text-align: center;
    /* background: #f7f7f7; */
    padding: 3rem 2rem;
}

.icons-info .icons-container .icons img {
    height: 6rem;
}

.icons-info .icons-container .icons i {
    font-size: 3rem;
    color: var(--grey);
}

.icons-info .icons-container .icons h3 {
    padding: 0;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--dark-grey);
}

.icons-info .icons-container .icons p {
    font-size: 1.7rem;
    /* line-height: 2; */
    color: #777;
}


/* .story {
    margin-top: 5rem;
    padding: 3% 10% 4% 10%;
    background: var(--light-color);
}

.story .head {
    text-align: center;
}

.story .head h2 {
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
}

.story .head p {
    font-size: 1.6rem;
}

.story .row {
    display: flex;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
    margin-top: 4%;
}

.story .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}

.story .row .img-container img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    max-height: 60rem;
    min-height: 40rem;
    object-fit: cover;
}

.story .row .content {
    flex: 1 1 40rem;
    text-align: left;
}

.story .row .content h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.story .row .content h1 {
    font-size: 3.2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.story .row .content p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
} */

.footer {
    margin-top: 0rem !important;
}

@media(max-width:1500px) {
    .about .row .img-container {
        flex: 1 1 50rem;
        position: relative;
    }
}

@media(max-width:1280px) {
    .icons-info {
        padding: 0% 15%;
    }
    .about .row {
        gap: 2rem;
    }
    .story .row {
        gap: 2rem;
    }
}

@media(max-width:991px) {
    .icons-info {
        padding: 0% 15%;
    }
    .about {
        padding: 7% 5% 0% 5%;
    }
    .story {
        padding: 5% 10% 4% 10%;
    }
}

@media(max-width:768px) {
    .about .row {
        gap: 2rem;
        margin-top: 8rem;
    }
    .about .row .content h2 {
        font-size: 2.5rem;
    }
    .icons-info .icons-container {
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 2rem;
    }
    .icons-info .icons-container .icons {
        padding: 3rem 0rem;
    }
}

@media(max-width:450px) {
    .about .row {
        margin-top: 10rem;
    }
}