    

.products {
    margin: 10rem 4%;
    display: block;
    position: relative;
}

.products .products-header {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    position: relative;
    align-items: center;
}

.products .products-header .filter-section {
    color: var(--white);
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.products .products-header .filter-section #filter-btn {
    cursor: pointer;
    margin-right: 1rem;
    display: block;
    color:var(--white);
}

.products .products-header .filter-section #filtered-item {
    display: none;
    color:var(--white);
}

.products .products-header .filter-section p {
    margin-right: 1rem;
    font-size: 1.4rem;
    border: var(--border);
    padding: .5rem 1rem;
}

.products .products-header .filter-section p i {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.products .products-header .sort-section {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.products .products-header .filtered-btn {
    font-size: 1.4rem;
    background:  linear-gradient(to left, #af00ff, #130d7a);
    color: var(--white);
    padding: .5rem 1rem;
    margin-bottom: .1rem;
}

.products .products-header .sort-section p {
    margin-bottom: .2rem;
    border:var(--border);
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
    background: var(--white);
    color: var(--white);
}

.products .products-header .sort-section .input-field {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: .1rem;
    margin-left: 2rem;
}

.products .products-header .sort-section .input-field select {
    background: rgb(247, 246, 246);
    color: var(--black);
    padding: .6rem 1.2rem;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}

.products .products-header .sort-section .input-field select option:hover {
    background: var(--purple);
}

.products .products-header .sort-section a {
    color: var(--white);
}

.products .products-header .sort-section div {
    cursor: pointer;
    margin-left: 2rem;
}

.products .products-header .sort-section img {
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.products .products-list {
    margin-top: 1%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.products .products-list .card {
    box-shadow: 0px 0px 10px 2px var(--purple);
    background:none;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px 2px var(--purple);
    overflow: hidden;
    position: relative;
    height: 45rem;
    margin-bottom: 3rem;
}

.products .products-list .card .image {
    height: 35rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.products .products-list .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0rem;
    /* border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem; */
}

.products .products-list .content {
    padding:2rem 1rem;
    min-height: 10rem;
    display: block;
    position: absolute;
    background: var(--light-color);
    width: 100%;
}

.products .products-list .card:hover .content {
    background: var(--light-color);
    margin-top: -4rem;
}

.products .products-list .heart {
    position: absolute;
    top: 1rem;
    right: -5rem;
    font-size: 2.5rem;
    color: var(--white);
    opacity: 1;
    cursor: pointer;
}

.products .products-list .card:hover .heart {
    right: 1rem;
}

.products .products-list .content .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products .products-list .content .info p {
    font-size: 1.3rem;
    color: var(--grey);
    margin-bottom: .4rem;
}

.products .products-list .content .info span {
    font-size: 1.5rem;
}

.products .products-list .content .two-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.products .products-list .content p {
    color: var(--grey);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.products .products-list .content .two-info p {
    font-size: 1.3rem;
}

.products .products-list .content .two-info span {
    font-size: 1.4rem;
}

.products .products-list a {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.products .products-list .content .btn-card {

    background: linear-gradient(to left, #af00ff, #130d7a);
    color: var(--white);
    cursor: pointer;
    text-transform: capitalize;
    padding: .5rem 5rem;
    font-size: 1.4rem;
    border-radius: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.products .products-list .content .btn-card:hover {
    box-shadow: 0px 0px 5px 5px var(--purple);
    background: linear-gradient(to left, #af00ff, #130d7a);
}

.details-active.products-list {
    display: grid;
    -ms-grid-columns: (minmax(17rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
}

.details-active.products-list .card {
    background: var(--light-color);
    border-radius: 3rem;
    box-shadow: 0 .3rem .5rem rgba(146, 146, 146, 0.3);
    overflow: hidden;
    position: relative;
    height: 30rem;
}

.details-active.products-list .card .image {
    height: 20rem;
    align-items: center;
    justify-content: center;
}

.details-active.products-list .content {
    padding: 1rem;
    min-height: 10rem;
    display: block;
    position: absolute;
    background: var(--light-color);
    width: 100%;
    z-index: 1500;
}

.details-active.products-list .card:hover .content {
    background: var(--light-color);
    margin-top: -6rem;
}

.sidebar {
    margin-top: 7%;
    width: 0rem;
    position: absolute;
    top: 0;
    left: -1rem;
    z-index: 10;
    transition: 0.5s;
    overflow-x: hidden;
    /* background: var(--white); */
    color:var(--purple);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px var(--purple);

    max-height: 100%;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
}

.sidebar a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color:var(--purple);
    padding: 8px 8px 8px 20px;
    transition: 0.3s;
}

#close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
}

#close-btn:hover {
    color: var(--purple);
}

.filter-button {
    font-size: 2rem;
    width: 100%;

    color: var(--white);
    padding: 1rem 2rem;
    bottom: 0!important;
    border: var(--border);
    text-align: center;
    position: relative;
    margin-top: 30%;
}
.filter-button:hover{

background: linear-gradient(to left, #af00ff, #130d7a);
}
.sidebar .menu-kapsul {
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40%;
    min-height: 35rem;
    max-height: 100%;
}

.sidebar .menu-kapsul ul {
    list-style-type: none;
    /* margin-bottom: 2rem; */
}

.sidebar .menu-kapsul ul li {
    display: block;
    padding-left: 5px;
    margin-top: 1rem;
    border-bottom: .1rem solid rgb(192, 190, 190);
}

.sidebar .menu-kapsul ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.sidebar .menu-kapsul ul li i {
    margin-right: .5rem;
}

.sidebar .menu-kapsul ul li span:hover i {
    margin-right: 1rem;
}

.sidebar .menu-kapsul ul li span {
    margin-bottom: 1px;
    padding: 0px 5px;
}

.sidebar .menu-kapsul>ul li ul {
    display: none;
}

.sidebar .menu-kapsul ul li ul li {
    border-bottom: none;
}

.sidebar .menu-kapsul ul li ul li .item {
    padding-left: 25px;
}

.sidebar .menu-kapsul ul li ul li a {
    font-size: 1.6rem;
    color: var(--white);
}

.sidebar .menu-kapsul ul li ul li ul li span {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.checkbox-wrapper-48 {}

.checkbox-wrapper-48 label {
    font-size: 1.6rem;
    cursor: pointer;
}

.checkbox-wrapper-48 .money {
    font-size: 1.6rem;
}


/* CORE STYLES */

.checkbox-wrapper-48 input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: var(--white);
    font: inherit;
    border: .3rem solid var(--black);
    margin-bottom: -0.125em;
    margin-left: 25px;
}

.checkbox-wrapper-48 input[type=checkbox] {
    /* border-radius: 0.25em; */
    margin-right: 1rem;
}

.checkbox-wrapper-48 label {
    color: var(--grey);
    padding: 1rem;
}

.checkbox-wrapper-48 input:checked {
    border: .3em solid var(--white);
    background: var(--grey) border-box;
}

.menu-kapsul ul li ul .search-form {
    display: flex;
margin-right: 2rem; 
    margin-bottom: 3rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
    border:var(--border);
}

.menu-kapsul ul li .money-filter {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
    align-items: center;
    justify-content: center;
}

.menu-kapsul ul li .money-filter input {
    width: 50%;
    margin-right: 2rem;
    padding: 1rem;
    border:var(--border);
}

.menu-kapsul ul li .money-filter p {
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--grey);
}

.menu-kapsul ul li ul .search-form input {
    padding: -1rem;
    padding-left: 1rem;
}

.menu-kapsul ul li ul .search-form label {
    font-size: 2rem;
    cursor: pointer;
    padding: .8rem;
    color: var(--grey);

}

.footer {
    padding: 1rem 5%;
    padding-top: 3rem;
    margin-top: 5rem;
}




/* .checkbox-wrapper-48 input:not(:checked):hover {
    border-color: transparent;
    background: linear-gradient(#fff, #fff) padding-box, var(--gradient) border-box;
} */